{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="newarrivals">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="testsection_subtitle">Team Contributing Towards Our Success</div>
						<div class="section_title">Our Team</div>
					</div>
				</div>
			</div>
			<div class="row test_slider_container">
				<div class="col">

					<div class="owl-carousel owl-theme test_slider text-center">

						<!-- Testimonial Item -->
						<div class="owl-item">
							<div class="test_text">If you can dream it you can do it.</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Shiwam.png' %}" alt=""></div>
								<div class="test_name">Shivam Verma</div>
								<div class="test_title">FullStack Developer</div>
							</div>
						</div>

						<!-- Developer Info -->
						<div class="owl-item">
							<div class="test_text">Without Commitment, nothing happens!</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Aditya_V.jpg' %}" alt="" style="height:200px;width:200px;"></div>
								<div class="test_name">Aditya Vikram</div>
								<div class="test_title">Data Scientist</div>
							</div>
						</div>

						<div class="owl-item">
							<div class="test_text">A smooth sea never made a skilled sailor.</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Sami.png' %}" alt=""></div>
								<div class="test_name">Muhammad Sami</div>
								<div class="test_title">Backend Developer</div>
							</div>
						</div>

						<div class="owl-item">
							<div class="test_text">Your limitation—it's only your imagination.</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Aditya_s.png' %}" alt=""></div>
								<div class="test_name">Aditya Samant</div>
								<div class="test_title">Backend Engineer</div>
							</div>
						</div>

						<div class="owl-item">
							<div class="test_text">If opportunity doesn't knock,Build a door.</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Subhradeep.png' %}" alt=""></div>
								<div class="test_name">SubraDeep Biswas</div>
								<div class="test_title">Front-End Developer</div>
							</div>
						</div>


						<div class="owl-item">
							<div class="test_text">Work Hard Dream Big!</div>
							<div class="test_content">
								<div class="test_image"><img src="{% static '/images/Prashansa.jpg' %}" alt=""></div>
								<div class="test_name">Prashansa</div>
								<div class="test_title">QA Engineer</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
  </div>
  
{% endblock %}