<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Movie Show Time Finder{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Movie Show Time Finder">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/bootstrap4/bootstrap.min.css">
<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>
<body>

<div class="super_container">	
	<!-- Header -->
	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="{% url 'home' %}">ShowtimeFinder</a></div>
			<nav class="main_nav">
				<ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'home' %}">GetFreePosters</a></li>
          <li><a href="{% url 'home' %}">SerachByMovie</a></li>
					<li><a href="{% url 'AboutUs' %}">AboutUs</a></li>
				</ul>
			</nav>
				<div class="changingnav">
					<!-- Avatar -->
					<a href="#">
						<div class="avatar">
            <a href="{% url 'userprofile' %}"><img src="static/images/avatar.svg" alt=""></a>
            <a href="{% url 'login_page' %}">Login</a>
            <a href="{% url 'signup' %}">SignUp</a>
						</div>
					</a>
				</div>
			</div>
		</div>
    </header>
</div>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>