{% extends 'base.html' %}

{% block title %}edit_profile{% endblock %}

{% block content %}

<div class="topratedmovies">
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="section_title_container text-center">
                <h2>Edit User Profile</h2>
                    <form method="post" class="form-class">
                        {% csrf_token %}
                        {{ form1.as_p }}
                        {{ form2.as_p }}
                    <p><a href="{% url 'password_reset' %}">Change Password</a></p>
                    <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}