{% extends 'base.html' %}

{% block title %}edit_profile{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">User Details</a></li>
    <li><a data-toggle="tab" href="#menu1">Movie Preferences</a></li>
  </ul>
  {% csrf_token %}
  <div class="center">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>Hello {{ user}}!</h3>
        <p>You can edit your details here! Don't forget to save.</p>
        <p><label for="first_name">First Name  :</label>
            <input type="textbox" placeholder= {{user.first_name}} />{{ user.first_name }}</p>
        <p><label for="last_name">Last Name  :</label>
            <input type="textbox" placeholder= {{user.last_name}} />{{ user.last_name }}</p>
        <p><label for="email">Email : </label>
            <input type="textbox" placeholder= {{user.email}} />{{ user.email }}</p>
        <p><label for="zipcode">ZipCode: </label>
            <input type="textbox" placeholder= {{zipcode}} />{{zipcode}}</p>
            <button type="submit">Save</button>
        <p>If case you want to change password go here -><a href="{% url 'password_reset' %}">Change Password</a></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Hello {{ user}}!</h3>
      <p>You can edit movie perferences here! Don't forget to save.</p>
      <p>If case you want to change your movie preferences go here -><a href="{% url 'select' %}">select genre</a></p>
    </div>
  </div> 

</form>
</div>
{% endblock %}