{% extends "base.html" %}
{%block content%}

<ul class='list'>
<li><a href="{% url 'AboutUs' %}">AboutUs</a></li>
<li><a href="{% url 'login_page' %}">Login</a></li>
<li><a href="{% url 'signup' %}">SignUp</a></li>
</ul>

<div class="container-title">
<h3>Movie Showtime Finder</h3>
</div>

<div class="container">
    <!-- <p>Welcome!! SignUp or Login for personalised experience</p> -->
<form method='post' clas='form-class'>
    {% csrf_token %}
    {{ form }}
    <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></i></button>
</form>
</div>
<br>
<br>

<!-- <form method='post' clas='form-class'>
        {% csrf_token %}
        {{ form}}
<button type="submit" class="btn btn-info btn-default">Search</button>
    </form> -->
    <div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Theatre Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th> Poster</th>
            <th> Name</th>
            <th> Duration</th>
            <th> Rating</th>
            <th> Showtime</th>
            <th> Showdate</th>
        </tr>

          {% for movielisttype in movielist|slice:":1" %}
            {% for movielistall in movielisttype|slice:":5" %}
            <tr>

              {% for movieinfo in movielistall|slice:"3:" %}

              <td>{{ movielistall.0 }}</td>

              <td>{{ movielistall.1 }}</td>

              <td>{{ movielistall.2 }}</td>

              <td><img src = "{{ movieinfo.1 }}"></td>

              <td>{{ movieinfo.0 }}</td>

              <td>{{ movieinfo.2 }}</td>

              <td>{{ movieinfo.3 }}</td>

              <td>{{ movieinfo.4 }}</td>

              <td>{{ movieinfo.5 }}</td>
            </tr>
            {% endfor %}

            {% endfor %}
          {% endfor %}
    </table>
  </div>
{% endblock %}
