{% extends "base.html" %}
{%block content%}
<!-- <div class="movieImage" style="background-color:black; border-style:hidden;">
    <img src="{{posterPath}}" style="width:50%; height:720px; margin-left:auto; margin-right:auto; display:block;" alt=""> 
</div>
<div class="column" style="float:right; width:30%; height:100%; background-color:grey;">
    <h2 style="color:black;">General Information:</h2><br><br>
    <h3 style="color:black;"><b>Title: </b>{{title}}</h3><br>
    <h3 style="color:black;"><b>Original Title: </b>{{originalTitle}}</h3>
    {%if tagline != ""%}
    <h3 style ="color:black;"><i>"{{tagline}}"</i></h3><br>
    {%endif%}
    <h3 style="color:black;"><b>Id: </b> {{movieId}}</h3><br>
    <h3 style="color:black;"><b>Release Date: </b>{{releaseDate}}</h3><br>
    <h3 style="color:black;"><b>Genres:</b> <br>
        {%for item in genres%}
        {{item}} <br>
        {%endfor%}
    </h3><br>
    <h3 style="color:black;"><b>Website: </b> <a href="{{homepage}}">{{homepage}}</a></h3><br>
    <h3 style="color:black;"><b>Budget: </b> {{budget}}</h3><br>
    <h3 style="color:black;"><b>Revenue: </b> {{revenue}}</h3><br>
    <h3 style="color:black;"><b>Runtime: </b>{{runtime}}</h3><br>
    <h3 style="color:black;"><b>Available Languages: </b><br>
        {%for item in spokenLanguages%}
        {{item}}<br>
        {%endfor%}
    </h3><br>
    <h3 style="color:black;"><b>Produced By: </b>  <br>
        {%for item in productionCompanies%}
        {{item}} <br>
        {%endfor%}
    </h3>
    <h3 style="color:black;"><b>Countries Produced in:</b>  <br>
        {%for item in productionCountries%}
        {{item}}<br>
        {%endfor%}
    </h3>
</div>

<div class="right-column" style="float:left; width:70%; height:100%;">
        <h2><b>"Summary: "</b></h2>
        <br>
        <h3 style="color:black;">{{overview}}</h3>
        <br>
        <h3 style="color:black;"><b>Video Link: </b><br>
            <iframe width="1175" height="676" src={{video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </h3>
</div> -->

<!-- <div class="newarrival_name" style="margin-bottom:10px">
        <iframe width="900" height="350"  src={{video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<div class="row newarrival_row" style="margin-top:80px;padding-left:20px">
        <!-- newarrival Image -->
        <div class="col-lg-4" style="margin-bottom:30px;margin-top:30px">
            <div class="newarrival_image">
                <div class="newarrival_image_large"><img src="{{posterPath}}" alt=""></div>
            </div>
        </div>
        <!-- newarrival Content -->
        <div class="col-lg-8">
            <div class="newarrival_content">
                <div class="newarrival_title" style="margin-bottom:10px;margin-top:30px;">{{ title }}</div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Runtime:</b> {{ runtime }} mins</span> 
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Genre:</b></span>
                        {%for item in genres%}
                        <span>{{item}}|</span>
                        {%endfor%}
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Tagline:</b> {{ tagline }} </span> 
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>ReleaseDate:</b></span>
                        <span>{{releaseDate}}</span>
                    </div>
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Website:</b> {{homepage}} </span>
                    </div> 
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Budget:</b></span>
                        <span>{{budget}}</span>
                    </div> 
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Revenue:</b> {{revenue}} </span> 
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Languages:</b></span>
                        {%for item in spokenLanguages%}
                        <span>{{item}}|</span>
                        {%endfor%}  
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                            <span><b>Countries Produced In:</b></span>
                            {%for item in productionCountries%}
                            <span>{{item}}|</span>
                            {%endfor%} 
                    </div>
                    <div class="newarrival_name" style="margin-bottom:20px">
                        <span><b>Produced By:</b></span>
                            {%for item in productionCompanies%}
                            <span>{{item}}|</span>
                            {%endfor%}
                    </div>
                    <div class="newarrival_text" style="margin-bottom:10px;padding-top:20px;">
                        <b>Overview: </b>
                        <p>{{ overview }}</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="newarrival_text">
                        <iframe width="1400" height="500"  src={{video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
    </div>
{% endblock %}