{% extends "base.html" %}

{%block head%}
<title>User Profile</title>

{% endblock %}

{%block content%}
<div class="topratedmovies">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <h3> Profile Details: </h3>
                           <p> User Name : {{ user }} </p>
                            <p>First Name : {{ user.first_name }} </p>
                            <p>Last_name : {{ user.last_name }} </p>
                            <p>Email : {{ user.email }}</p>
                            <p>ZipCode: {{zipcode}}</p>
                            <p>DateofBirth: {{dateofbirth}}</p>
                            <a href="{% url 'edit_profile' %}">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}